body {
    font-family: "Roboto", system-ui;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


header {
    background-color: #1a237e;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #fff;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li input[type="text"] {
    padding: 3px;
    font-size: 14px;
    width: 150px;
    margin-right: 5px;
}

nav ul li button {
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
    background-color: #add8e6;
    border: none;
    border-radius: 4px;
    color: #1a237e;
}

section {
    padding: 50px;
    min-height: 300px;
}

.noticias-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.noticia-item {
    width: 30%;
    margin: 15px 0;
    text-align: center;
}

.noticia-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.noticia-item h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.noticia-item p {
    margin-top: 0;
    font-size: 14px;
}

.noticias-destque{ 
    position: absolute;
    top: 550px;
    right: 20px;
    width: 300px;
    height: auto;
    background-color: #1a237e;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #fff;
    overflow: auto;
}

.noticias-destque h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.noticias-destaque .noticias-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.noticias-destaque .noticia-item {
    text-align: center;
}

.noticias-destaque .noticia-item h3 {
    margin: 5px 0;
    font-size: 16px;
}

.noticias-destaque .noticia-item p {
    font-size: 14px;
}



.noticias-mundo {
    background-color: #d1d1d1;
}

.esportes {
    background-color: #adadad;
}

.clima {
    background-color: #888888;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1a237e;
    color: #fff;
}